pulumictl
.idea
.code
**/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
**/node_modules/
.DS_Store

**/command-output/

.idea/
*.iml

yarn.lock
**/pulumiManifest.go
provider/cmd/pkg

ci-scripts
**/version.txt
**/nuget
**/dist
**/schema.go
**/schema-embed.json

sdk
